.app {
    height: 100vh;

    .navbar {
        background: var(--background-secondary);
        display: flex;
        flex-direction: row;
        gap: 1em;
        height: 1em;
        padding: 1em;

        a {
            color: var(--text-color-secondary);
            font-size: large;
            font-weight: bold;
            margin: auto 0;
            text-decoration: none;
            transition: all var(--transition-duration-default);

            &:visited:not(:hover) {
                color: var(--text-color-secondary);
            }

            &:hover {
                color: var(--background-highlight)
            }
        }

        a.active {
            color: var(--text-color-affirm)
        }
    }

    .page {
        height: calc(100vh - 5em);
        padding: 1em;

        > * {
            height: calc(100vh - 5em)
        }
    }

    .invalidServer {
        text-align: center;
    }
}