.app {
    height: 100vh;

    .navbar {
        background: var(--background-primary);
        color: var(--text-color-primary);
        display: flex;
        flex-direction: row;
        gap: 1em;
        height: 1em;
        padding: 1em;

        a {
            font-size: large;
            font-weight: bold;
            margin: auto 0;
            text-decoration: none;
            transition: all var(--transition-duration-default);

            &:visited:not(:hover) {
                color: var(--text-color-primary);
            }

            &:hover {
                color: var(--background-highlight)
            }
        }
    }

    .page {
        height: calc(100vh - 5em);
        padding: 1em;

        > * {
            height: calc(100vh - 5em)
        }
    }
}