body {
    background: var(--page-background);
    color: var(--page-text-color);
    height: 100vh;
    margin: 0;
}

@property --transition-duration-default {
    syntax: "<time>";
    inherits: true;
    initial-value: 300ms;
}

@property --page-background {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: linear-gradient(#010610, #427998);
}

@property --page-text-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --background-primary {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: radial-gradient(#fa7d01, #e07d19);
}

@property --background-primary-disabled {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #fa7d01aa;
}

@property --text-color-primary {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

.primary {
    background: var(--background-primary);
    color: var(--text-color-primary);
    transition: all var(--transition-duration-default);

    &:disabled {
        background: var(--background-primary-disabled);
    }
}

@property --background-secondary {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #139ed5;
}

@property --background-secondary-disabled {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #139ed578;
}

@property --text-color-secondary {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

.secondary {
    background: var(--background-secondary);
    color: var(--text-color-secondary);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: var(--background-secondary-disabled);
    }
}

@property --background-highlight {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #84f009;
}

@property --background-highlight-disabled {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #84f00978;
}

@property --text-color-highlight {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

.highlight {
    background: var(--background-highlight);
    color: var(--text-color-highlight);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: var(--background-highlight-disabled);
    }
}

@property --background-affirm {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #008000;
}

@property --background-affirm-disabled {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #00800078;
}

@property --text-color-affirm {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

.affirm {
    background: var(--background-affirm);
    color: var(--text-color-affirm);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: var(--background-affirm-disabled);
    }
}

@property --background-danger {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #ff0000;
}

@property --background-danger-disabled {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #ff000078;
}

@property --text-color-danger {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

.danger {
    background: var(--background-danger);
    color: var(--text-color-danger);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: var(--background-danger-disabled);
    }
}



@property --background-warning {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #dd5454;
}

@property --background-warning-disabled {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #dd545478;
}

@property --text-color-warning {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

.warning {
    background: var(--background-warning);
    color: var(--text-color-warning);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: var(--background-warning-disabled);
    }
}

@property --background-error {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #c91717;
}

@property --background-error-disabled {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: #c9171778;
}

@property --text-color-error {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

.error {
    background: var(--background-error-warning);
    color: var(--text-error-warning);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: var(--background-error-warning-disabled);
    }
}