body {
    background: var(--page-background);
    color: var(--page-text-color);
    height: 100vh;
    margin: 0;
}

a.active {
    color: var(--background-highlight);
}

@property --disabled-mix-color {
    syntax: "<color>";
    inherits: true;
    initial-value: GrayText;
}

@property --transition-duration-default {
    syntax: "<time>";
    inherits: true;
    initial-value: 300ms;
}

@property --page-background {
    syntax: "<color> | <image>";
    inherits: true;
    initial-value: linear-gradient(Canvas, Highlight);
}

@property --page-text-color {
    syntax: "<color>";
    inherits: true;
    initial-value: CanvasText;
}

@property --background-primary {
    syntax: "<color>";
    inherits: true;
    initial-value: AccentColor;
}

@property --text-color-primary {
    syntax: "<color>";
    inherits: true;
    initial-value: AccentColorText;
}

.primary {
    background: var(--background-primary);
    color: var(--text-color-primary);
    transition: all var(--transition-duration-default);

    &:disabled {
        background: color-mix(in hsl, var(--background-primary), var(--disabled-mix-color));
    }
}

@property --background-secondary {
    syntax: "<color>";
    inherits: true;
    initial-value: ButtonFace;
}

@property --text-color-secondary {
    syntax: "<color>";
    inherits: true;
    initial-value: ButtonText;
}

.secondary {
    background: var(--background-secondary);
    color: var(--text-color-secondary);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: color-mix(in hsl, var(--background-secondary), var(--disabled-mix-color));
    }
}

@property --background-highlight {
    syntax: "<color>";
    inherits: true;
    initial-value: Highlight;
}

@property --text-color-highlight {
    syntax: "<color>";
    inherits: true;
    initial-value: HighlightText;
}

.highlight {
    background: var(--background-highlight);
    color: var(--text-color-highlight);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: color-mix(in hsl, var(--background-highlight), var(--disabled-mix-color));
    }
}

@property --background-affirm {
    syntax: "<color>";
    inherits: true;
    initial-value: #008000;
}

@property --text-color-affirm {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

.affirm {
    background: var(--background-affirm);
    color: var(--text-color-affirm);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: color-mix(in hsl, var(--background-affirm), var(--disabled-mix-color));
    }
}

@property --background-warning {
    syntax: "<color>";
    inherits: true;
    initial-value: #dd5454;
}

@property --text-color-warning {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

.warning {
    background: var(--background-warning);
    color: var(--text-color-warning);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: color-mix(in hsl, var(--background-warning), var(--disabled-mix-color));
    }
}

@property --background-danger {
    syntax: "<color>";
    inherits: true;
    initial-value: #ff0000;
}

@property --text-color-danger {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

.danger {
    background: var(--background-danger);
    color: var(--text-color-danger);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: color-mix(in hsl, var(--background-danger), var(--disabled-mix-color));
    }
}

@property --background-error {
    syntax: "<color>";
    inherits: true;
    initial-value: #c91717;
}

@property --text-color-error {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

.error {
    background: var(--background-error);
    color: var(--text-error);
    transition: all var(--transition-duration-default);
    
    &:disabled {
        background: color-mix(in hsl, var(--background-error), var(--disabled-mix-color));
    }
}