@property --input-border-radius {
    syntax: "<length>";
    inherits: true;
    initial-value: 20px;
}

// For some reason setting this to an em doesn't work
// Update uses when it works again
@property --input-padding {
    syntax: "<length>";
    inherits: true;
    initial-value: 1em;
}

a:visited {
    color: inherit;
}

// TODO: Switch to using secondary variables
button {
    border: 2px solid ButtonFace;
    border-radius: var(--input-border-radius);
    padding: 1em;

    &:hover:not(:disabled) {
        outline: solid 2px var(--background-highlight);
    }
}

input[type="text"] {
    background: none;
    border: none;
    padding: 1em;

    &:focus-visible {
        outline: none;
    }
}

// TODO: Switch to using secondary variables
.inputGroup {
    border: 2px solid ButtonFace;
    border-left: none;
    border-right: none;
    border-radius: var(--input-border-radius);
    display: flex;
    flex-direction: row;
    gap: 1em;

    vertical-align: center;

    label {
        background: ButtonFace;
        border-left: 2px solid ButtonFace;
        border-right: 2px solid ButtonFace;
        border-radius: var(--input-border-radius);
        color: ButtonText;
        padding: 1em;
    }

    input {
        flex-grow: 1;
    }

    input[type="text"] {
        &:focus-visible {
            outline: 2px solid var(--background-highlight);
            border-radius: var(--input-border-radius);
        }
    }
}