@property --input-border-radius {
    syntax: "<length>";
    inherits: true;
    initial-value: 20px;
}

button {
    border: none;
    border-radius: var(--input-border-radius);
    padding: 1em;

    &:hover:not(:disabled) {
        background: var(--background-affirm);
        color: var(--text-color-affirm);
    }
}