.fileInfo {
    height: 100%;

    .albumArt {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    .common {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .noFile {
        margin: auto;
        text-align: center;
    }
}