.fileInfo {
    margin: auto 0;

    .albumArt {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    .common {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .noFile {
        text-align: center;
    }
}