.filePlayer {
    column-gap: 1em;
    display: grid;
    grid-template-areas:
        'uploader uploader'
        'file-selection playing-info'
        'set-button clear-button'
        'controls controls'
    ;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto 1fr auto auto;

    .controls {
        grid-area: controls;
    }

    .uploader {
        grid-area: uploader;
    }

    .fileSelection {
        grid-area: file-selection;
        height: 100%;
        text-align: center;
    }

    .setButton {
        grid-area: set-button;
        width: 100%;
    }

    .playingInfo {
        grid-area: playing-info;
        height: 100%;
    }

    .clearButton {
        grid-area: clear-button;
        width: 100%;
    }
}