.playerControls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 100%;

    .playerButton {
        text-align: center;
        width: fit-content;

        img {
            height: 2em;
            width: 2em;
        }
    }

    .loop {
        margin-left: auto;
    }

    .center {
        display: flex;
        gap: 1em;
        justify-content: center;
    }

    .stopButton:hover {
        background: var(--background-danger);
    }

    .volume {
        align-items: center;
        display: flex;
        gap: .5em;

        span {
            border: 2px solid var(--background-secondary);
            border-radius: var(--input-border-radius);
            padding: .25em;
        }
    }
}