.playerControls {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    width: 100%;

    .playbackButton {
        background: none;
        border: none;
        padding: 0;
    }

    .playbackButtonImg {
        height: 3.5em;
        width: 3.5em;
    }
}