.playerControls {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    width: 100%;

    .playerButton {
        position: relative;
        text-align: center;

        img {
            height: 2em;
            width: 2em;
        }
    }

    .stopButton:hover {
        background: var(--background-danger);
    }

}