.seekBar {
    display: flex;
    flex-direction: column;
    width: 100%;

    .timeDisplay {
        align-self: end;
    }

    input {
        accent-color: var(--background-highlight);
        width: 100%;
    }
}