.seekBar {
    display: flex;
    flex-direction: column;
    width: 100%;

    .timeDisplay {
        align-self: end;
    }

    input {
        accent-color: var(--background-secondary);
        width: 100%;

        &:hover:not(:disabled) {
            accent-color: var(--background-highlight)
        }
    }
}