.filesTable {
    text-align: left;

    table {
        width: 100%;

        tbody tr:hover {
            background: var(--background-highlight);
            color: var(--text-color-highlight);
            transition: all var(--transition-duration-default);
        }

        td {
            padding: .5em;
        }

        .deleteButton:hover {
            background: var(--background-danger);
            color: var(--text-color-danger);
        }
    }

    .noFiles {
        margin: auto;
        text-align: center;
    }
}