.fileUploader {
    text-align: left;
    
    .inputs {
        border: 2px solid var(--background-color-secondary);
        border-left: none;
        border-right: none;
        border-radius: var(--input-border-radius);
        display: flex;
        flex-direction: row;
        gap: 1em;

        input {
            display: none;
        }

        .browseButton > button {
            border: 2px solid var(--background-color-secondary);
        }

        .fileName {
            flex-grow: 1;
        }

        .uploadButton {
            border: 2px solid var(--background-color-secondary);
        }

        > * {
            align-self: center;
        }
    }
}