.filesTable {
    text-align: left;

    table {
        width: 100%;

        caption {
            font-weight: bold;
            text-align: left;
        }

        thead h3 {
            width: 100%;
        }

        tbody tr:hover {
            background-color: var(--background-color-secondary);
            color: var(--text-color-highlight)
        }

        td {
            border: none;
            padding: .5em;
        }
    }

    .noFiles {
        margin: auto;
        text-align: center;
    }
}