.soundFiles {
    display: grid;
    grid-template-areas:
        'uploader'
        'files-table'
    ;
    grid-template-rows: auto 1fr;

    .fileUploader {
        grid-area: uploader;
    }

    .filesTable {
        grid-area: files-table;
        height: 100%;
        overflow-y: auto;
    }
}